<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/data-engineering-learning/blob/development/Python_oops_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Syntax**

# Execute Python Syntax

In [1]:
print('hello World')
print('hello, world')

hello World
hello, world

# **Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [2]:
if 7>3:
print("7 is greater than 3")

IndentationError: ignored

In [3]:
if 7>3:
  print("7 is greater than 3")

7 is greater than 3

# **Comments**
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

**Creating a Comment**

Comments starts with a #, and Python will ignore them:

In [5]:
print('hello')
# print('hello')

hello

# **Multiline Comments**
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [8]:
"""
This is a
multi line
comment
"""
print("hello")

hello

# **Variables**
Variables are containers for storing data values.
# **Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [9]:
x = 1 # integer
y = 'rabiyul' # string
print(x)
print(y)

1
rabiyul

In [11]:
a = 8      # x is of type int
b = "Rabiyul" # x is now of type str
print(a,b)

8 Rabiyul

# **Casting**

In [12]:
a = str(3)    # a will be '3'
b = int(3)    # b will be 3
c = float(3)  # c will be 3.0

In [14]:
x = 1 # integer
y = 'rabiyul' # string
print(type(x))
print(type(y))
z = type(x)
print(z)

<class 'int'>
<class 'str'>
<class 'int'>

# **Single or Double Quotes?**
String variables can be declared either by using single or double quotes:

In [15]:
a = "rabiyul"
a = 'rabiyul'
print(a)

rabiyul

# **Case-Sensitive**
Variable names are case-sensitive.

In [16]:
x = 786
X = "Rabi"
# X will not overwrite x
print(X, x)

Rabi 786

# **Many Values to Multiple Variables**
Python allows you to assign values to multiple variables in one line:

In [18]:
a, b, c = 'Mango', 'Cherry', 'Banana'
print(a)
print(b)
print(c)

Mango
Cherry
Banana

# **One Value to Multiple Variables**
And you can assign the same value to multiple variables in one line:

In [19]:
a =b= c =  'Cherry'
print(a)
print(b)
print(c)

Cherry
Cherry
Cherry

# **Unpack a Collection**
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [20]:
fruities =  ['Mango', 'Cherry', 'Banana']
print(fruities)
a,b,c =fruities
print(a)
print(b)
print(c)

['Mango', 'Cherry', 'Banana']
Mango
Cherry
Banana

# **Output Variables**
The Python print() function is often used to output variables.

In [24]:
print('Python is cool')
x = 'python'
y = 'is'
z = 'cool'
print(x,y,z)
a = 'python '
b = 'is '
c = 'cool '
print(a+b+c)

Python is cool
python is cool
python is cool

# **Global Variables**
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [25]:
a = "cool"

def onefunction():
  print("python is "+ a)


onefunction()

python is cool

In [26]:
a = "cool"

def onefunction():
  a = "Easy to learn"
  print("python is "+ a)


onefunction()

print("Python is "+ a)

python is Easy to learn
Python is cool

In [30]:
# a = "cool"

def onefunction():
  global a
  a = "cool"
  print("python is "+ a)


onefunction()
print("python is "+ a)

python is cool
python is cool

# **Built-in Data Types**
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

**Python has the following data types built-in by default, in these categories:**

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
Getting the Data Type
You can get the data type of any object by using the type() function:

**Pass**

# **Python Conditions and If statements**
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [32]:
a = 50
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

In [34]:
a = 100
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [37]:
a = 200
b = 46
if b>a:
  print("b is greater than a")
elif a == b:
  print("b is equal to a ")
else:
  print("a is greater than b")

a is greater than b

In [38]:
a = 200
b = 46
c = 1000
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [39]:
a = 200
b = 46
c = 1000
if a > b or c > a:
  print("Both conditions are True")

Both conditions are True

In [48]:
a = 200
b = 46
if not a>b:
  print(" a is not greater than b")

In [47]:
a = 200
b = 46
if b>a:
  pass

# **Python Loops**
Python has two primitive loop commands:

while loops
for loops
The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [50]:
i = 1
while i < 7:
  print(i)
  i+=1

1
2
3
4
5
6

In [56]:
i = 0
while i < 7:
  print(i)
  if i ==2:
    break
  i +=1

0
1
2

In [60]:
i = 0
while i < 7:
  i +=2
  if i ==2:
    continue
  print(i)

4
6
8